<!DOCTYPE html>
<html>
  <head>
  <title>SXSW</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="css/rdio-utils.css" rel="stylesheet" media="screen">
  <link href="css/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p id="authenticate"></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <p><strong>Because you like</strong></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <p><strong>You should checkout these artists playing at SXSW</strong></p>
      </div>
    </div>
    <div id="the-list">
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p>If you have a large Rdio collection, the first run will be slow.</p>
        <p>Built at the <a href="http://sxsw.com/music/hackathon">2014 SXSW Music Hackathon Championship</a>.</p>
      </div>
    </div>

  </div>

  <script type="text/template" id="suggestion-template">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <p><%= name %></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <p><%= artistSuggestions %></p>
      </div>
    </div>
  </script>

  <script src="//www.rdio.com/api/api.js?client_id=TDDj4I109aF9jTzP9DQvyg"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/json2/json2.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="js/rdio-utils.min.js"></script>
  <script src="js/bands_and_urls.json"></script>
  <script src="js/main.js"></script>

  </body>
</html>
